#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(196, 219, 249);
}

.playerSetup,
.equationsDiv,
.equationCard {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
